@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Gymnázium, Praha 6, Arabská 14<br />
    Arabská 682/14, 160 00 Praha 6-Vokovice<br />
    <abbr title="Phone">Tel:</abbr>
    777 862 567
</address>

<address>
    <strong>Support:</strong> tien-dung.nguyen@student.gyarab.cz<br />
    <strong>Marketing:</strong> tien-dung.nguyen@student.gyarab.cz</a>
</address>