@model IEnumerable<CatalogOfProducts2.Models.ProductCategoryModel>



<h2>View Categories</h2>


<table class="table">
    <tr>
        
        <th>
            Choose products by category:
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
     
        <td>
            <a onclick="location.href='@Url.Action("ShowProductsByCategory", "Home", new { id = item.CategoryId, name = item.CategoryName })'"> @item.CategoryName</a>
        </td>
       
    </tr>
}

</table>
